In [1]:
import pandas as pd
from sodapy import Socrata

In [2]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='WenyiTao', api_key='SVlBTOb6CTWLAfDERWfo')
data = [go.Bar(
            x=['giraffes', 'orangutans', 'monkeys'],
            y=[20, 14, 23]
    )]

py.iplot(data, filename='basic-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~WenyiTao/0 or inside your plot.ly account where it is named 'basic-bar'

In [3]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("6b8a-2fci",limit=4500)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
import os
path=os.path.expanduser("~\python_project\Data Visualization\data.csv")
results_df.to_csv(path)

In [5]:
path

'C:\\Users\\Wesle\\python_project\\Data Visualization\\data.csv'

In [6]:
monthdate=set(results_df.yearmonth) 
monthdate=[date for date in monthdate if date not in ['FY 2010', 'FY 2011', 'FY 2012', 'FY 2013', 'FY 2014', 'FY 2015', 'FY 2016', 'FY 2017']]

In [7]:
results_df.head()

,averageresponsetime,incidentborough,incidentclassification,incidentcount,yearmonth
0,04:27,Citywide,All Fire/Emergency Incidents,40850,2009/07
1,04:32,Manhattan,All Fire/Emergency Incidents,10709,2009/07
2,04:37,Bronx,All Fire/Emergency Incidents,8137,2009/07
3,04:45,Staten Island,All Fire/Emergency Incidents,2205,2009/07
4,04:01,Brooklyn,All Fire/Emergency Incidents,11505,2009/07

In [8]:
mysubset=results_df[results_df.incidentborough=="Citywide"][results_df.yearmonth.isin(monthdate)]

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [9]:
mysubset=mysubset[["incidentclassification","incidentcount","yearmonth"]]

In [10]:
totalcount_df=mysubset.pivot(index="yearmonth",columns="incidentclassification",values="incidentcount")

In [11]:
totalcount_df.head()

incidentclassification,All Fire/Emergency Incidents,False Alarm,Medical Emergencies,Medical False Alarm,NonMedical Emergencies,NonStructural Fires,Structural Fires
yearmonth,,,,,,,
2009/07,40850,2655,18606,408,15739,1495,1947
2009/08,41723,2814,18409,425,16859,1283,1933
2009/09,37082,2187,17073,405,14027,1294,2096
2009/10,40974,2135,17377,399,17663,1110,2290
2009/11,38197,1977,16751,328,15555,1156,2430

In [12]:
int("3")

3

In [13]:
sumofallcount=pd.to_numeric(totalcount_df["All Fire/Emergency Incidents"])
False_Alarm=pd.to_numeric(totalcount_df["False Alarm"])/sumofallcount
Medical_False_Alarm=pd.to_numeric(totalcount_df["Medical False Alarm"])/sumofallcount +False_Alarm
NonStructural_Fires=pd.to_numeric(totalcount_df["NonStructural Fires"])/sumofallcount+Medical_False_Alarm
Medical_Emergencies=pd.to_numeric(totalcount_df["Medical Emergencies"])/sumofallcount+NonStructural_Fires
Structural_Fires=pd.to_numeric(totalcount_df["Structural Fires"])/sumofallcount+Medical_Emergencies
NonMedical_Emergencies=pd.to_numeric(totalcount_df["NonMedical Emergencies"])/sumofallcount+Structural_Fires

In [14]:
new=pd.concat([False_Alarm, Medical_False_Alarm,NonStructural_Fires,Medical_Emergencies,Structural_Fires,NonMedical_Emergencies], axis=1)
new.index=[date.replace("/",".") for date in new.index]

In [21]:
new.as_matrix()

array([[0.06499388, 0.07498164, 0.11157895, 0.56705018, 0.61471236,
        1.        ],
       [0.06744481, 0.07763104, 0.10838147, 0.54960094, 0.5959303 ,
        1.        ],
       [0.0589774 , 0.06989914, 0.10479478, 0.56520684, 0.62173022,
        1.        ],
       [0.05210621, 0.0618441 , 0.08893445, 0.51303265, 0.56892176,
        1.        ],
       [0.05175799, 0.06034505, 0.09060921, 0.5291515 , 0.59276907,
        1.        ],
       [0.04607194, 0.05482726, 0.08696167, 0.48227638, 0.54555135,
        1.        ],
       [0.04254217, 0.04999014, 0.08054651, 0.48946927, 0.55031074,
        1.        ],
       [0.04176447, 0.04926481, 0.09912316, 0.49078646, 0.5501956 ,
        1.        ],
       [0.0484023 , 0.05666008, 0.09390988, 0.4737905 , 0.52596266,
        1.        ],
       [0.05430911, 0.06426622, 0.10240478, 0.55091642, 0.60740933,
        1.        ],
       [0.05961503, 0.06944444, 0.10452016, 0.54417533, 0.59254698,
        1.        ],
       [0.0615606 , 0.07206816, 0.111837  , 0.55169263, 0.5959386 ,
        1.        ],
       [0.06117657, 0.07121892, 0.11476372, 0.53197199, 0.5758732 ,
        1.        ],
       [0.05919463, 0.07080372, 0.10518539, 0.54921551, 0.59518281,
        1.        ],
       [0.05381405, 0.06452585, 0.09976814, 0.51926733, 0.56795734,
        1.        ],
       [0.04995897, 0.05964131, 0.08845387, 0.52758176, 0.58166686,
        1.        ],
       [0.04442804, 0.05252438, 0.08620821, 0.51516154, 0.57529852,
        1.        ],
       [0.03774878, 0.04517515, 0.07620593, 0.47960606, 0.54130201,
        1.        ],
       [0.03532394, 0.0418291 , 0.08999593, 0.4905173 , 0.54650468,
        1.        ],
       [0.03903746, 0.04575091, 0.08379379, 0.49394961, 0.55246436,
        1.        ],
       [0.05079822, 0.05744569, 0.08906046, 0.52928553, 0.58987176,
        1.        ],
       [0.05264017, 0.06009027, 0.09247376, 0.54141063, 0.59932568,
        1.        ],
       [0.05585086, 0.06443563, 0.09555539, 0.56035537, 0.61268748,
        1.        ],
       [0.05858344, 0.0676508 , 0.10313814, 0.56818848, 0.61482061,
        1.        ],
       [0.06096994, 0.06932229, 0.10663092, 0.55433458, 0.59540953,
        1.        ],
       [0.0544018 , 0.06234619, 0.0900652 , 0.48642114, 0.52573291,
        1.        ],
       [0.05217004, 0.05945303, 0.08477011, 0.53007333, 0.5778587 ,
        1.        ],
       [0.04561917, 0.05398988, 0.08020531, 0.51181253, 0.56366776,
        1.        ],
       [0.04296996, 0.04916383, 0.07778466, 0.52105915, 0.58173325,
        1.        ],
       [0.04022507, 0.04731234, 0.07240512, 0.5059739 , 0.56233688,
        1.        ],
       [0.0345855 , 0.04044492, 0.07580008, 0.49534474, 0.55098443,
        1.        ],
       [0.03537403, 0.04124572, 0.06881962, 0.53656852, 0.59612008,
        1.        ],
       [0.04096839, 0.04736245, 0.07757954, 0.53302738, 0.59049657,
        1.        ],
       [0.04409013, 0.05107392, 0.09532218, 0.54492028, 0.60445381,
        1.        ],
       [0.0466065 , 0.05513661, 0.07835332, 0.53959698, 0.5905798 ,
        1.        ],
       [0.05170486, 0.0597711 , 0.08756276, 0.54343636, 0.58919266,
        1.        ],
       [0.05417628, 0.06198753, 0.09268438, 0.53420277, 0.57851221,
        1.        ],
       [0.05197328, 0.06076183, 0.08549296, 0.5449377 , 0.58696167,
        1.        ],
       [0.04726769, 0.05459582, 0.07980358, 0.52885923, 0.57637875,
        1.        ],
       [0.04103833, 0.04681868, 0.07277691, 0.4585884 , 0.50890515,
        1.        ],
       [0.03619354, 0.04131567, 0.07065148, 0.41832113, 0.47129916,
        1.        ],
       [0.03600854, 0.04265932, 0.06387731, 0.51421977, 0.57293528,
        1.        ],
       [0.0317946 , 0.03671431, 0.06229195, 0.49571666, 0.54887899,
        1.        ],
       [0.03483595, 0.03994294, 0.08122682, 0.51640514, 0.57169757,
        1.        ],
       [0.03754468, 0.04429036, 0.07922814, 0.53831062, 0.60055363,
        1.        ],
       [0.04093551, 0.04685752, 0.08277161, 0.54665284, 0.6018612 ,
        1.        ],
       [0.04263037, 0.050056  , 0.07768905, 0.54591713, 0.59821298,
        1.        ],
       [0.04743829, 0.05748238, 0.08235682, 0.55209488, 0.59576073,
        1.        ],
       [0.04699061, 0.05601229, 0.08333694, 0.53450738, 0.57576479,
        1.        ],
       [0.04602086, 0.05406123, 0.08021055, 0.56333301, 0.60862952,
        1.        ],
       [0.04313181, 0.05035472, 0.07749846, 0.55459593, 0.60631298,
        1.        ],
       [0.04090761, 0.04849612, 0.07633741, 0.55004146, 0.60182928,
        1.        ],
       [0.03681859, 0.04320184, 0.07256479, 0.51004724, 0.57267969,
        1.        ],
       [0.03310358, 0.03982312, 0.07959683, 0.52029447, 0.57807752,
        1.        ],
       [0.03079293, 0.03545725, 0.07735168, 0.44011313, 0.49146282,
        1.        ],
       [0.0334071 , 0.0384129 , 0.10591211, 0.50050058, 0.55443145,
        1.        ],
       [0.03802149, 0.04360262, 0.07350821, 0.47976838, 0.53602158,
        1.        ],
       [0.04002734, 0.04617996, 0.07897032, 0.50076613, 0.55338158,
        1.        ],
       [0.04073784, 0.04739315, 0.07316231, 0.51678795, 0.56731301,
        1.        ],
       [0.04395301, 0.05119423, 0.08002115, 0.53840142, 0.58274522,
        1.        ],
       [0.04505168, 0.05192776, 0.07961065, 0.52240305, 0.56450785,
        1.        ],
       [0.04269415, 0.04952613, 0.07551987, 0.54467243, 0.58941388,
        1.        ],
       [0.03802965, 0.04507996, 0.06893895, 0.54922377, 0.59537761,
        1.        ],
       [0.03739309, 0.04307278, 0.06218922, 0.52916087, 0.58248801,
        1.        ],
       [0.03614346, 0.04255713, 0.0643914 , 0.50904165, 0.56836231,
        1.        ],
       [0.033165  , 0.03927187, 0.05606577, 0.52669407, 0.58527305,
        1.        ],
       [0.02925864, 0.03371197, 0.06892991, 0.50066692, 0.5516544 ,
        1.        ],
       [0.02862547, 0.03274821, 0.08906409, 0.45926131, 0.50813924,
        1.        ],
       [0.03349262, 0.03816552, 0.08793927, 0.50678733, 0.55791432,
        1.        ],
       [0.03671835, 0.04178736, 0.07490629, 0.52357727, 0.57550264,
        1.        ],
       [0.03917712, 0.04565981, 0.081144  , 0.55963874, 0.60690416,
        1.        ],
       [0.03877953, 0.04501595, 0.06823491, 0.55418774, 0.59544559,
        1.        ],
       [0.04020243, 0.04645741, 0.07229235, 0.55987718, 0.59634558,
        1.        ],
       [0.04154175, 0.04871358, 0.07477515, 0.57074834, 0.60948798,
        1.        ],
       [0.0387536 , 0.04446422, 0.07179657, 0.55537854, 0.5975254 ,
        1.        ],
       [0.03465064, 0.0401498 , 0.06084557, 0.51441805, 0.56233369,
        1.        ],
       [0.03700541, 0.04221682, 0.06505507, 0.52827958, 0.58315269,
        1.        ],
       [0.03447092, 0.04054141, 0.05896737, 0.53064201, 0.58675647,
        1.        ],
       [0.03185866, 0.03671777, 0.07069085, 0.50349693, 0.55271825,
        1.        ],
       [0.03108032, 0.03513699, 0.0606628 , 0.47725145, 0.52457925,
        1.        ],
       [0.04011746, 0.04551539, 0.07468584, 0.55711016, 0.6051302 ,
        1.        ],
       [0.03668018, 0.0421069 , 0.07174342, 0.54710169, 0.59915388,
        1.        ],
       [0.0411996 , 0.04644889, 0.06980927, 0.55295299, 0.59906726,
        1.        ],
       [0.03912311, 0.04550843, 0.0740864 , 0.56348926, 0.6041723 ,
        1.        ],
       [0.03974424, 0.04504095, 0.06819515, 0.54060496, 0.57771977,
        1.        ],
       [0.03784506, 0.04361377, 0.06724999, 0.54198769, 0.57741299,
        1.        ],
       [0.0357427 , 0.04131245, 0.06388458, 0.55010679, 0.59116797,
        1.        ],
       [0.03355015, 0.03831478, 0.05593009, 0.51669599, 0.5619106 ,
        1.        ],
       [0.03499361, 0.03959132, 0.06268625, 0.5265645 , 0.57801192,
        1.        ],
       [0.02852175, 0.03333866, 0.05646386, 0.51872801, 0.57075472,
        1.        ],
       [0.02803719, 0.03167703, 0.06888662, 0.53534807, 0.58243724,
        1.        ],
       [0.03004895, 0.03360892, 0.07888142, 0.54865681, 0.59505352,
        1.        ],
       [0.03209755, 0.03634733, 0.07480887, 0.53696664, 0.58681075,
        1.        ],
       [0.03849808, 0.04329145, 0.07032431, 0.55810338, 0.60603705,
        1.        ],
       [0.03695848, 0.04178089, 0.06403202, 0.56072036, 0.60574287,
        1.        ],
       [0.03953105, 0.04484062, 0.06718341, 0.55992636, 0.59802345,
        1.        ]])

In [15]:
new=new.rename(index=str, columns={0:"FalseAlarm", 1: "MedicalFalseAlarm",2:"NonStructuralFires",3:"MedicalEmergencies",4:"StructuralFires",5:"NonMedicalEmergencies"})

In [16]:
path=os.path.expanduser("~\python_project\Data Visualization\datapecent.csv")
new.to_csv(path)

In [17]:
path=os.path.expanduser("~\python_project\Data Visualization\data.json")
new.transpose().to_json(path)

In [4]:
a='''2009.07
2009.08
2009.09
2009.1
2009.11
2009.12
2010.01
2010.02
2010.03
2010.04
2010.05
2010.06
2010.07
2010.08
2010.09
2010.1
2010.11
2010.12
2011.01
2011.02
2011.03
2011.04
2011.05
2011.06
2011.07
2011.08
2011.09
2011.1
2011.11
2011.12
2012.01
2012.02
2012.03
2012.04
2012.05
2012.06
2012.07
2012.08
2012.09
2012.1
2012.11
2012.12
2013.01
2013.02
2013.03
2013.04
2013.05
2013.06
2013.07
2013.08
2013.09
2013.1
2013.11
2013.12
2014.01
2014.02
2014.03
2014.04
2014.05
2014.06
2014.07
2014.08
2014.09
2014.1
2014.11
2014.12
2015.01
2015.02
2015.03
2015.04
2015.05
2015.06
2015.07
2015.08
2015.09
2015.1
2015.11
2015.12
2016.01
2016.02
2016.03
2016.04
2016.05
2016.06
2016.07
2016.08
2016.09
2016.1
2016.11
2016.12
2017.01
2017.02
2017.03
2017.04
2017.05
2017.06
'''

In [5]:
a.split("\n")

['2009.07',
 '2009.08',
 '2009.09',
 '2009.1',
 '2009.11',
 '2009.12',
 '2010.01',
 '2010.02',
 '2010.03',
 '2010.04',
 '2010.05',
 '2010.06',
 '2010.07',
 '2010.08',
 '2010.09',
 '2010.1',
 '2010.11',
 '2010.12',
 '2011.01',
 '2011.02',
 '2011.03',
 '2011.04',
 '2011.05',
 '2011.06',
 '2011.07',
 '2011.08',
 '2011.09',
 '2011.1',
 '2011.11',
 '2011.12',
 '2012.01',
 '2012.02',
 '2012.03',
 '2012.04',
 '2012.05',
 '2012.06',
 '2012.07',
 '2012.08',
 '2012.09',
 '2012.1',
 '2012.11',
 '2012.12',
 '2013.01',
 '2013.02',
 '2013.03',
 '2013.04',
 '2013.05',
 '2013.06',
 '2013.07',
 '2013.08',
 '2013.09',
 '2013.1',
 '2013.11',
 '2013.12',
 '2014.01',
 '2014.02',
 '2014.03',
 '2014.04',
 '2014.05',
 '2014.06',
 '2014.07',
 '2014.08',
 '2014.09',
 '2014.1',
 '2014.11',
 '2014.12',
 '2015.01',
 '2015.02',
 '2015.03',
 '2015.04',
 '2015.05',
 '2015.06',
 '2015.07',
 '2015.08',
 '2015.09',
 '2015.1',
 '2015.11',
 '2015.12',
 '2016.01',
 '2016.02',
 '2016.03',
 '2016.04',
 '2016.05',
 '2016.06',
 '2016.07',
 '2016.08',
 '2016.09',
 '2016.1',
 '2016.11',
 '2016.12',
 '2017.01',
 '2017.02',
 '2017.03',
 '2017.04',
 '2017.05',
 '2017.06',
 '']

In [1]:
import pandas as pd
import os
path=os.path.expanduser("~\python_project\Data Visualization\monthly percentage.csv")
thisdata=pd.read_csv(path)
thisdata.head()

,Unnamed: 0,Automobile Fire,Hospital Fire,Other Commercial Building Fire,Private Dwelling Fire,School Fire,Store Fire
0,1,0.224719,0.033708,0.226124,0.428371,0.044944,0.042135
1,2,0.218427,0.032091,0.220497,0.445135,0.054865,0.028986
2,3,0.140695,0.029386,0.248442,0.507569,0.042743,0.031167
3,4,0.154751,0.025339,0.210860,0.530317,0.052489,0.026244
4,5,0.150995,0.031646,0.198915,0.547016,0.046112,0.025316

In [17]:
AutomobileFire=thisdata["Automobile Fire"]
HospitalFire=thisdata["Hospital Fire"]+AutomobileFire
OtherCommercialFire=thisdata["Other Commercial Building Fire"]+HospitalFire
PrivateDwellingFire=thisdata["Private Dwelling Fire"]+OtherCommercialFire
SchoolFire=thisdata["School Fire"]+PrivateDwellingFire
StoreFire=thisdata["Store Fire"]+SchoolFire
classification=pd.concat([AutomobileFire, HospitalFire,OtherCommercialFire,PrivateDwellingFire,SchoolFire,StoreFire], axis=1)
classification.head()

   Automobile Fire         0         1         2         3    4
0         0.224719  0.258427  0.484551  0.912921  0.957865  1.0
1         0.218427  0.250518  0.471014  0.916149  0.971014  1.0
2         0.140695  0.170080  0.418522  0.926091  0.968833  1.0
3         0.154751  0.180090  0.390950  0.921267  0.973756  1.0
4         0.150995  0.182640  0.381555  0.928571  0.974684  1.0

In [10]:

classification.as_matrix()

array([[0.2247191 , 0.25842697, 0.48455056, 0.91292135, 0.95786517,
        1.        ],
       [0.2184265 , 0.2505176 , 0.47101449, 0.91614907, 0.97101449,
        1.        ],
       [0.14069457, 0.17008014, 0.41852182, 0.92609083, 0.96883348,
        1.        ],
       [0.15475113, 0.1800905 , 0.39095023, 0.92126697, 0.97375566,
        1.        ],
       [0.15099458, 0.18264014, 0.38155515, 0.92857143, 0.97468354,
        1.        ],
       [0.17592593, 0.21399177, 0.41872428, 0.9382716 , 0.97942387,
        1.        ],
       [0.18086225, 0.20715037, 0.43112513, 0.93796004, 0.98002103,
        1.        ],
       [0.19331243, 0.23301985, 0.42737722, 0.95506792, 0.97805643,
        1.        ],
       [0.15384615, 0.19182084, 0.39240506, 0.91236611, 0.97955209,
        1.        ],
       [0.12579618, 0.16401274, 0.35748408, 0.9227707 , 0.97770701,
        1.        ],
       [0.11522965, 0.1385979 , 0.38275584, 0.92667204, 0.97824335,
        1.        ],
       [0.11831727, 0.15074496, 0.38825592, 0.94390885, 0.98334794,
        1.        ],
       [0.14612676, 0.18397887, 0.46919014, 0.93397887, 0.98151408,
        1.        ],
       [0.2184265 , 0.2505176 , 0.47101449, 0.91614907, 0.97101449,
        1.        ],
       [0.14069457, 0.17008014, 0.41852182, 0.92609083, 0.96883348,
        1.        ],
       [0.15475113, 0.1800905 , 0.39095023, 0.92126697, 0.97375566,
        1.        ],
       [0.15099458, 0.18264014, 0.38155515, 0.92857143, 0.97468354,
        1.        ],
       [0.17592593, 0.21399177, 0.41872428, 0.9382716 , 0.97942387,
        1.        ],
       [0.18086225, 0.20715037, 0.43112513, 0.93796004, 0.98002103,
        1.        ],
       [0.19331243, 0.23301985, 0.42737722, 0.95506792, 0.97805643,
        1.        ],
       [0.15384615, 0.19182084, 0.39240506, 0.91236611, 0.97955209,
        1.        ],
       [0.12579618, 0.16401274, 0.35748408, 0.9227707 , 0.97770701,
        1.        ],
       [0.11522965, 0.1385979 , 0.38275584, 0.92667204, 0.97824335,
        1.        ],
       [0.11831727, 0.15074496, 0.38825592, 0.94390885, 0.98334794,
        1.        ],
       [0.13981481, 0.17314815, 0.43611111, 0.92962963, 0.9712963 ,
        1.        ],
       [0.11111111, 0.13333333, 0.42222222, 0.93333333, 0.96666667,
        1.        ]])

In [16]:
[str(i) for i in range(1,26)]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25']

In [18]:
'''Jan-13
Feb-13
Mar-13
Apr-13
May-13
Jun-13
Jul-13
Aug-13
Sep-13
Oct-13
Nov-13
Dec-13
Jan-14
Feb-14
Mar-14
Apr-14
May-14
Jun-14
Jul-14
Aug-14
Sep-14
Oct-14
Nov-14
Dec-14
Jan-15
Feb-15'''.split()

['Jan-13',
 'Feb-13',
 'Mar-13',
 'Apr-13',
 'May-13',
 'Jun-13',
 'Jul-13',
 'Aug-13',
 'Sep-13',
 'Oct-13',
 'Nov-13',
 'Dec-13',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15']