In [1]:
import pandas as pd
from sodapy import Socrata

In [3]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='WenyiTao', api_key='SVlBTOb6CTWLAfDERWfo')
data = [go.Bar(
            x=['giraffes', 'orangutans', 'monkeys'],
            y=[20, 14, 23]
    )]

py.iplot(data, filename='basic-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~WenyiTao/0 or inside your plot.ly account where it is named 'basic-bar'

In [4]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("6b8a-2fci",limit=4500)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
import os
path=os.path.expanduser("~\python_project\Data Visualization\data.csv")
results_df.to_csv(path)

In [ ]:
monthdate=set(results_df.yearmonth) 
monthdate=[date for date in monthdate if date not in ['FY 2010', 'FY 2011', 'FY 2012', 'FY 2013', 'FY 2014', 'FY 2015', 'FY 2016', 'FY 2017']]

In [6]:
results_df.head()

,averageresponsetime,incidentborough,incidentclassification,incidentcount,yearmonth
0,04:27,Citywide,All Fire/Emergency Incidents,40850,2009/07
1,04:32,Manhattan,All Fire/Emergency Incidents,10709,2009/07
2,04:37,Bronx,All Fire/Emergency Incidents,8137,2009/07
3,04:45,Staten Island,All Fire/Emergency Incidents,2205,2009/07
4,04:01,Brooklyn,All Fire/Emergency Incidents,11505,2009/07

In [24]:
mysubset=results_df[results_df.incidentborough=="Citywide"][results_df.yearmonth.isin(monthdate)]

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [31]:
mysubset=mysubset[["incidentclassification","incidentcount","yearmonth"]]

In [37]:
totalcount_df=mysubset.pivot(index="yearmonth",columns="incidentclassification",values="incidentcount")

In [38]:
totalcount_df

incidentclassification,All Fire/Emergency Incidents,False Alarm,Medical Emergencies,Medical False Alarm,NonMedical Emergencies,NonStructural Fires,Structural Fires
yearmonth,,,,,,,
2009/07,40850,2655,18606,408,15739,1495,1947
2009/08,41723,2814,18409,425,16859,1283,1933
2009/09,37082,2187,17073,405,14027,1294,2096
2009/10,40974,2135,17377,399,17663,1110,2290
2009/11,38197,1977,16751,328,15555,1156,2430
2009/12,42260,1947,16706,370,19205,1358,2674
2010/01,40548,1725,16581,302,18234,1239,2467
2010/02,37065,1548,14517,278,16672,1848,2202
2010/03,44564,2157,16929,368,21125,1660,2325
2010/04,38465,2089,17252,383,15101,1467,2173
2010/05,43848,2614,19278,431,17866,1538,2121
2010/06,43778,2695,19256,460,17689,1741,1937
2010/07,47698,2918,19900,479,20230,2077,2094
2010/08,42639,2524,18933,495,17261,1466,1960
2010/09,43130,2321,18093,462,18634,1520,2100
2010/10,42655,2131,18731,413,17844,1229,2307
2010/11,39277,1745,16848,318,16681,1323,2362
2010/12,43763,1652,17654,325,20074,1358,2700
2011/01,41813,1477,16747,272,18962,2014,2341
2011/02,36196,1413,14846,243,16199,1377,2118
2011/03,38210,1941,16821,254,15671,1208,2315
2011/04,36778,1936,16511,274,14736,1191,2130
2011/05,40071,2238,18625,344,15520,1247,2097
2011/06,40916,2397,19028,371,15760,1452,1908
2011/07,45137,2752,20208,377,18262,1684,1854
2011/08,46322,2520,18360,368,21969,1284,1821
2011/09,40368,2106,17976,294,17041,1022,1929
2011/10,41693,1902,17995,349,18192,1093,2162
2011/11,38748,1665,17176,240,16207,1109,2351
2011/12,41765,1680,18108,296,18279,1048,2354
...,...,...,...,...,...,...,...
2015/01,46482,1360,20068,207,20840,1637,2370
2015/02,47056,1347,17420,194,23145,2650,2300
2015/03,47294,1584,19809,221,20908,2354,2418
2015/04,46952,1724,21066,238,19931,1555,2438
2015/05,49825,1952,23841,323,19586,1768,2355
2015/06,49227,1909,23922,307,19915,1143,2031
2015/07,52758,2121,25724,330,21296,1363,1924
2015/08,51033,2120,25311,366,19929,1330,1977
2015/09,48331,1873,23372,276,19452,1321,2037
2015/10,50735,1758,23012,279,22205,1050,2431
2015/11,45669,1690,21155,238,19037,1043,2506
2015/12,46619,1607,21989,283,19265,859,2616
2016/01,49186,1567,21288,239,22000,1671,2421
2016/02,48069,1494,20025,195,22853,1227,2275
2016/03,46314,1858,22343,250,18288,1351,2224
2016/04,45147,1656,21461,245,18097,1338,2350
2016/05,47816,1970,23102,251,19171,1117,2205
2016/06,48079,1881,23530,307,19031,1374,1956
2016/07,52863,2101,24973,280,22323,1224,1962
2016/08,51658,1955,24524,298,21830,1221,1830
2016/09,47758,1707,23221,266,19525,1078,1961
2016/10,50581,1697,23306,241,22159,891,2287
2016/11,46980,1644,21793,216,19825,1085,2417
2016/12,50032,1427,23128,241,21476,1157,2603
2017/01,48079,1348,22427,175,20076,1789,2264
2017/02,42697,1283,20058,152,17290,1933,1981
2017/03,46826,1503,21641,199,19348,1801,2334
2017/04,46314,1783,22591,222,18246,1252,2220
2017/05,49975,1847,24822,241,19703,1112,2250
2017/06,51605,2040,25428,274,20744,1153,1966